body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    min-width: 400px;
}

h1 {
    color: #ffd22f;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}

p {
    color: whitesmoke;
}

button {
    width: 200px;
    background-color: #ffd22f;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: rgba(0, 128, 0, 0.788);
    font-size: larger;
    font-weight: bold;
}
#del-el{
    background-color: whitesmoke;
    color: rgba(0, 128, 0, 0.788);

}

ul {
    text-decoration: none;
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#blackjack-el {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

#input-el {
    height: 40px;
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}